/*body {
    background-color: #4169e1;
}*/
/*table{

    border: 2px solid black;
    height:auto;
    width: 80%;
    border-collapse: collapse;
}
tr,td{
    border: 2px solid black;
    border-collapse: collapse;
    color: #ffffff;
}
h1{
    background-color: black;
    text-align: center;
    color: white;
}*/
